@mixin size($widht: auto, $height: auto) {
    width: $widht;
    height: $height;
}

@mixin animate($status, $property, $value, $time) {
    transition: $property $time;
    &:#{$status} {
        #{$property}: $value;
    }
}